
.event-detail-image{
    width: 1000px;
    height: 450px;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 10px;
}

.event-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details-header-date{
    font-size: 20px;
    margin-top: 25px;
}

.event-details-header-name{
    font-size: 33px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-deatils-header-description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-details-edit-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-details-when-and-where-left{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;


}
.location-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.location-header-text{
    margin-left: 10px;
}
.event-details-location{
    /* margin-bottom: 10px; */
    margin-top: -12px;
    font-size: 18px;
}
.event-details-when-and-where-city{
    font-size: 18px;
}

.event-details-when-and-where-state{
    font-size: 18px;
}

.when-and-where-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.event-details-when-and-where-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.event-details-when-and-where-container{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-around;
}

.event-details-when-and-where-start-date{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: -10px;

}
.event-details-when-and-where-end-time{
    font-size: 18px;
    margin-top: 0px;
    margin-right: 2px;
}

.date-and-time-header{
    font-size: 18px;

    margin-left: 10px;
}

.event-details-when-and-where-h2{
    padding: 0px;
}
