
.event-detail-image{
    width: 1000px;
    height: 450px;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 10px;
}

.event-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details-header-date{
    font-size: 20px;
    margin-top: 25px;
}

.event-details-header-name{
    font-size: 33px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-deatils-header-description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-details-edit-button{
    margin-top: 25px;
    width: 140px;
    height: 30px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 16px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.event-details-delete-button{
    margin-top: 25px;
    margin-left: 10px;
    width: 170px;
    height: 30px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 16px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.event-details-when-and-where-left{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;


}
.location-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.location-header-text{
    margin-left: 10px;
}
.event-details-location{
    /* margin-bottom: 10px; */
    margin-top: -12px;
    font-size: 18px;
}
.event-details-when-and-where-city{
    font-size: 18px;
}

.event-details-when-and-where-state{
    font-size: 18px;
}

.when-and-where-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.event-details-when-and-where-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.event-details-when-and-where-container{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-around;
}

.event-details-when-and-where-start-date{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: -10px;

}
.event-details-when-and-where-end-time{
    font-size: 18px;
    margin-top: 0px;
    margin-right: 2px;
}

.date-and-time-header{
    font-size: 18px;
    margin-left: 10px;
}

.event-details-when-and-where-h2{
    padding: 0px;
}

.event-details-website-url{
    color: black;
}
.event-details-about-this-event-descripton{
    color: black;
}


/* COMMENT SECTION */

#comment-section-user-icon{
    margin-left: 5px;
    margin-top: 5px;
}

.comment-card-user-name{
    margin-left: 5px;
    margin-top: 5px;

}

.add-comment{
    width: 140px;
    height: 30px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 16px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    margin-bottom: 25px;

}


.event-details-comments{
    display: flex;
    /* flex-direction: column; */
    margin-top: 10px;
    margin-bottom: 25px;

}

.comment-card-container{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.comment-card{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: right; */
}

.comment-card-header{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment-card-user{
    display: flex;
    flex-direction: row;
}

.comment-card-edit{
    margin-right: 5px;
    display: flex;
    width: 50px;
    height: 20px;
    font-weight: 500;
    text-shadow: .3px .3px .3px black;
    font-size: 12px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;

}

.comment-card-header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.edit-delete-comment-container{
    display: flex;
    position: relative;
    left: 180px;
}

.comment-card-user-name{
    justify-content: flex-start;
}



.comment-card-delete{
    /* display: flex; */
    width: 60px;
    height: 20px;
    font-weight: 500;
    text-shadow: .3px .3px .3px black;
    font-size: 12px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;

}
