
.event-detail-image{
    width: 1000px;
    height: 450px;
    object-fit: fill;
    margin-top: 15px;
    border-radius: 10px;

}

.event-blur-image{
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
    width: 100%;
    height: 460px;
    position: absolute;
    right: 0%;
    filter: blur(.7em);
    z-index: -100;


}

.event-details-header-info-container{
    padding-bottom: 40px;
    margin: 50px;
}

.event-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 30px; *
    /* padding-right: 60px; */
}

.event-details-header-date{
    font-size: 22px;
    margin-top: 50px;
    font-weight: 700;
}

.event-details-header-name{
    font-size: 33px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.event-details-header-description{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    word-wrap: break-word;
    color: grey;
}

.event-details-event-owner{
    color: rgba(245, 63, 0, 0.97)
}
.event-details-event-owner-container{
    display: flex;
    flex-direction: row;
}

.event-details-event-owner-variable{
    margin-top: 18px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.event-details-edit-button{
    margin-top: 25px;
    width: 140px;
    height: 30px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 16px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.event-details-delete-button{
    margin-top: 25px;
    margin-left: 10px;
    width: 170px;
    height: 30px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 16px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.event-details-when-and-where-left{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;


}
.location-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    /* margin-top: 3px; */

}

.event-details-refund-container{
    border-bottom: 1px solid lightgray;
}
.event-details-refund-policy{
    margin-bottom: 10px;
}

.location-header-text{
    margin-left: 5px;
    font-size: 17px;
}

.event-details-location{

    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: grey;
    font-weight: 600;
}

.event-details-when-and-where-city{
    font-size: 14px;
    color: grey;
    font-weight: 600;

}

.event-details-when-and-where-state{
    font-size: 14px;
    color: grey;
    font-weight: 600;
    overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.when-and-where-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
}

.venue-location-section{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* overflow: scroll; */

}

.event-details-when-and-where-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
}
.event-details-when-and-where-container{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;

}

.event-details-when-and-where-start-date{
    font-size: 15px;
    font-weight: 600;
    color: gray;
    margin-top: 5px;

}
.event-details-when-and-where-end-time{
    font-size: 15px;
    margin-top: 0px;
    font-weight: 600;
    /* margin-right: 8px; */
    color: gray;
}

.date-and-time-header{
    font-size: 16px;
    margin-left: 5px;

}

.event-details-when-and-where-h2{
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: -3px;
    border-top: 1px solid lightgray;
}

.event-details-website-url{
    color: blue;
    font-weight: 700;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
}

.event-details-about-this-event-descripton{
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}


/* COMMENT SECTION */

.event-details-login-link{
    color: blue;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
