/* TODO Add site wide styles */
/* TODO Add site wide styles */
#root{
   font-family: 'Montserrat', sans-serif;
   margin: 0px;
}
#body{
    margin: 0px;
}
/* EVENT CARDS (ALL EVENTS PAGE)  */
.event-card-image{
    width: 320px;
    height: 280px;
    object-fit: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}


.all-events-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.event-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;

    /* height: 500px; */
}


.event-card-inner-container-left{
    display:flex;
    align-items: center;
    justify-content: center;
}

.event-card-inner-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;

}
.event-card-header{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 315px;
    height: 25px;
    overflow: scroll;
    scroll-behavior: smooth;

}
.event-card-address{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.event-card-date{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.event-card-time{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.event-car-inner-container-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;


}
.all-events-card-container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.all-events-card-container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);

}
.events-near-you{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* ************************************************************ */

/* FORM STYLING  */

.form-outer-container{
    display: flex;
    justify-content: center;
}
.form-container{
    /* margin-top: 20px; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    width: 500px;
    height: 30px;
}

.form-label{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-weight: 700;
    font-size: 15px;
}

.form-input-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.edit-form-header{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

/* SIGN UP AND LOGIN STYLING ***********************************************************/

.login-image{
    display: flex;
    width: 60rem;
    height: 47.2rem;
    /* border-radius: 10px; */
    position: static;
    left: 50%;

}

.signup-link{
    color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
}
.create_errors{
    color: red;
}
.signup-image{
    display: flex;
    flex-direction: row;
    width: 58.7%;
    height: 960px;
    /* border-radius: 10px; */
    margin-left: 100px;

    position: static;
    left: 50%;
}

.login-form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.login-form-outer-container{
    display: flex;
    margin-left: 100px;
    justify-content: flex-start;
}
.login-form-container{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    flex-direction: row;
}

.login-input-container{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 10px;
    margin-right: 6px;
}

.signup_button{
    margin-top: 10px;
    width: 520px;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    /* margin-bottom: 30px; */
    font-family: 'Montserrat', sans-serif;
}

.signup-form-inputs-and-submit{
    display: flex;
    flex-direction: column;
}
.signup-form-outer-container{
    display: flex;
    margin-left: 100px;
    justify-content: flex-start;
    flex-direction: row;
}

.signup-input-container{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup-form-header{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 20px;

}
.signup_create_errors{
    margin-bottom: 5px;
    display: flex;
    color: red;
}


.error-message{
    color: red;
    margin-left: 20px;
}

.login-form-header{
    display: flex;
    margin-top: 50px;
    margin-right: 30px;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}
.login-errors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}

.login_button{
    margin-top: 25px;
    box-shadow: 1px 1px 0px grey;
    width: 520px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.demo_user_button{
    margin-top: 15px;
    width: 520px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* ************************************************************ */
/* My Events */

.my-events-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.my_events_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* flex-direction: row; */

}

/* .event-card-inner-container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
} */

.event-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.my-events-header{
    display: flex;
    justify-content: center;
}


/* ************************************************************ */
.create-event-form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 520px;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.form-field-date{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    width: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

.select-form-field-time{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
    /* padding: 8px; */
    width: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}



.info-header{
    display: flex;
    flex-direction: row;
    align-items: center;

}


/* ****************************************************/
/* Create/Edit Comment Styling */

.comment_errors{
    display: flex;
    margin-left: 30px;
    margin-top: 0px;
    color: red;
    margin-bottom: 15px;
}

.add_comment_header{
    margin-bottom: 0px;
}
.form-field{
    font-family: 'Montserrat', sans-serif
}

.create-comment-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 520px;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 17px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


.edit-comment-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 520px;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 17px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
