/* TODO Add site wide styles */
/* TODO Add site wide styles */
#root{
   font-family: 'Montserrat', sans-serif;
   margin: 0px;
   max-width: 100%;
}
#body{
    margin: 0px;
}
/* EVENT CARDS (ALL EVENTS PAGE)  */
.event-card-image{
    width: 320px;
    height: 280px;
    object-fit: cover;
    align-items: center;
    display: flex;
    border-radius: 10px;
    justify-content: center;
}


.all-events-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;

}
.event-card{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    width: 340px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;

    /* height: 500px; */
}


.event-card-inner-container-left{
    display:flex;
    align-items: center;
    justify-content: center;
}

.event-card-inner-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 10%;

}

.event-card-header{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 6px;
    width: 315px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card-address{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3.5px;
    overflow: hidden;
    /* width: 100%; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-card-date{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

.event-card-location-and-icon{
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    width: 63.5%;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

.event-card-container{
    /* width: 50%; */
    /* width: 10%; */

}
#card-map{
    margin-left: 6px;
    margin-top: 5px;
    margin-right: 5px;
}

#card-calendar{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 2px;
}
.event-card-date-and-icon{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.event-card-time{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.event-card-inner-container-right{
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; */
    /* width: 100%; */


}
.all-events-card-container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.all-events-card-container:hover{
    box-shadow: 1 1 11 rgba(33,33,33,.2);

}
.Events-near-you{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

/* ************************************************************ */

/* FORM STYLING  */

.form-outer-container{
    display: flex;
    justify-content: center;
}
.form-container{
    /* margin-top: 20px; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    width: 500px;
    height: 30px;
}

.form-label{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-weight: 700;
    font-size: 15px;
}

.form-input-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.edit-form-header{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}


.edit_event_error-message{
    color: red;

    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-event-header{
    margin-bottom: 5px;

}

.create_event_header{
    margin-bottom: 10px;
}

.create_event_error-message{
    color: red;
    /* margin-left: 70px; */
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* SIGN UP AND LOGIN STYLING ***********************************************************/


/* @media screen and (min-width: 1436px){
    .signup-image{
        width: 70%;
        height: 770px;
        margin-left: 150px;
    }
    .login-image{
        width: 70%;
        height: 700px;
        margin-left: 50px;
    }
} */

/* @media screen and (max-width: 1435px) and (min-width: 1025px) { */
    /* .login-image {
      /* width: 59%; */
      /* width: auto; */
      /* height: 700px; */
      /* display: flex; */
      /* flex-direction: row; */
      /* align-items: center; */
      /* justify-content: center; */
    /* } */
    /* .signup-image{
        width: 63%;
        height: 770px;
        margin-left: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
  } */

  /* @media screen and (max-width: 1024px) {
    .login-image {
      width: 45%;
      height: 690px;
    }
    .signup-image{
        width: 60%;
        height: 840px;
        margin-left: 70px;
    }
  } */

.signup-image{
    width: 100%;
    height: 100%;
    aspect-ratio: 1.25/1;
    margin-left: 100px;
}

.login-image{
    width: 59%;
    height: 665px;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signup-link{
    color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
}
.create_errors{
    color: red;
    font-size: 14px;
}


.login-form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.login-form-outer-container{
    display: flex;
    margin-left: 70px;
    justify-content: flex-start;

}
.login-form-container{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    flex-direction: row;
}

.login-input-container{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 10px;
    margin-right: 6px;
    font-size: 14px;
}

.signup_button{
    margin-top: 10px;
    width: 360px;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    /* margin-bottom: 30px; */
    font-family: 'Montserrat', sans-serif;
}

.signup-form-field{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    width: 340px;
    height: 30px;
}

.signup-form-inputs-and-submit{
    display: flex;
    flex-direction: column;

}
.signup-form-outer-container{
    display: flex;
    margin-left: 60px;
    /* align-items: center;
    justify-content: center; */
    /* margin-bottom: 20px; */
    margin-right: 0px;
    justify-content: flex-start;
    flex-direction: row;
}

.signup-input-container{
    display: flex;
    flex-direction: column;

    /* justify-content: flex-start; */
    margin-top: 10px;
    margin-bottom: 10px;

}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form-header{
    display: flex;
    margin-top: 30px;
    /* justify-content: center; */
    font-size: 20px;
    font-weight: 600;

}
.sign_create_errors{
    margin-bottom: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    color: red;
}


.login-form-header{
    display: flex;
    margin-top: 50px;
    margin-right: 20px;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}
.login-errors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}

.login_button{
    margin-top: 25px;
    box-shadow: 1px 1px 0px grey;
    width: 520px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.demo_user_button{
    margin-top: 15px;
    width: 520px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* ************************************************************ */
/* My Events */

.my-events-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}


.my_events_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* flex-direction: row; */

}

/* .event-card-inner-container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
} */

.event-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.my-events-header{
    display: flex;
    justify-content: center;
}


/* ************************************************************ */
.create-event-form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 520px;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 18px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.form-field-date{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    width: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

.select-form-field-time{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
    /* padding: 8px; */
    width: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}



.info-header{
    display: flex;
    flex-direction: row;
    align-items: center;

}


/* ****************************************************/
/* Create/Edit Comment Styling */

.create-comment-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.add-comment-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-comment-form-field{
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    width: 500px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

.comment_errors{
    display: flex;
    margin-left: 30px;
    margin-top: 0px;
    color: red;
    margin-bottom: 15px;
}

.add_comment_header{
    margin-bottom: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-field{
    font-family: 'Montserrat', sans-serif
}

.comment-input-container{
    margin: 0px;
}

.create-comment-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 520px;
    height: 40px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 17px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#comment-section-user-icon{
    margin-left: 5px;
    margin-top: 5px;
}

.comment-card-user-name{
    margin-left: 5px;
    margin-top: 5px;
}

.add-comment{
    width: 140px;
    height: 30px;
    font-weight: 550;
    text-shadow: .3px .3px .3px black;
    font-size: 16px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;

}

.event-details-comments-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.event-details-comments{
    display: flex;
    /* flex-direction: column; */
    margin-top: 10px;
    /* margin-bottom: 25px; */

}

.comment-card-container{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 97%;
    word-wrap: break-word;

}
#event-details-comments-outer-container{
    margin-bottom: 20px;
}

.comment-card{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: right; */
}

.comment-card-header{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-card-user{
    display: flex;
    flex-direction: row;
}

.comment-card-edit{
    margin-right: 5px;
    display: flex;
    width: 50px;
    height: 20px;
    font-weight: 500;
    text-shadow: .3px .3px .3px black;
    font-size: 12px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;

}

.form-field{
    resize: none
}

.comment-card-header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.edit-delete-comment-container{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center;
    position: relative;
    left: 570px; */
}

.comment-card-user-name{
    justify-content: flex-start;
}



.comment-card-delete{
    /* display: flex; */
    width: 60px;
    height: 20px;
    font-weight: 600;
    text-shadow: .3px .3px .3px black;
    font-size: 12px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;

}


.edit-comment-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 520px;
    height: 40px;
    font-weight: 600;
    text-shadow: .3px .3px .3px black;
    font-size: 17px;
    color: white;
    background-color:rgba(245, 63, 0, 0.97);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


/* ****************************************************/
/* User Likes */

.userlikes-events-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.liked-events-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


/* ****************************************************/
/* Queried Events */

.queriedevents-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}


/* ****************************************************/
/* About Me Page */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

.about-body-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.about-image{
    height: 280px;
    width: 270px;
    border-radius: 140px;
}

.about-technologies-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    text-decoration: underline;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.about-technologies-image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.about-technologies-image{
    margin-left: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.page-header{
    text-shadow: 1px 1px 1px lightgray;
    color: black;
    text-decoration: underline;
    text-decoration-line: 1px;
}

.github-linkedin-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
  .home-page-github {
    width: 35px;
    height: 35px;
    /* margin-left: 65px; */
  }

  .home-page-linkedin {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
/* ****************************************************/
