
.navbar-logo{
    width: 60px;
    cursor: pointer;
    height: 60px;
    margin-bottom: 20px;
}

.navbar-logo-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}


.navbar-event-login-signup-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-loggedin-container{
    display: flex;
    align-items: space-between;
    justify-content: flex-end;
    margin: 10px;
}

.navbar-eventbass{
    cursor: pointer;
    color:rgba(245, 63, 0, 0.97);
    text-shadow: .1px .1px .1px grey;
    margin-left: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 28px;
    margin-bottom: 10px;

}
.navbar-myevents{
    margin-right: 20px;
    font-size: 14px;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-myevents:hover{
    background-color: whitesmoke;
}
.outter-nav-bar-container{
    display: flex;
    /* align-items: space-between; */
    justify-content: space-between;
 ;
}
.nav-bar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 20px;
}



.create-event-button{
    /* padding: 5px; */
    height: 100%;
    width: 130px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    color: blue;
}

.create-event-button:hover{
    background-color: whitesmoke;

}


.nav-bar-container{
    display: flex;
    border-bottom: 1px solid lightgray;
    flex-direction: column;
}

#navbar-login-button{
    width: 110%;
    height: 75px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar-login-button:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
#navbar-signup-button{
    width: 160px;
    height: 75px;

    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#navbar-signup-button:hover{
    background-color: whitesmoke;
    cursor: pointer;

}


/* Menu Drop Down */
.menu {
    background-color: white;
    display: inline-flex;
    position: fixed;
    z-index: 10;
    top: 65px;
    right: 45px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    /* align-content: space-evenly; */
    border-radius: 15px;
    padding: 15px;
    border: 1px solid black;
    width: 150px;
    height: 100px;
    box-shadow: 0 0 .2px;
  }

  .my_events_button{
    background-color: white;
    border: none;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    padding: 5px;
    /* border-bottom: 1px solid lightgray; */
  }

  .my_events_button:hover{
    background-color: 	#DCDCDC;
    cursor: pointer;
  }

  .profile_logout_button{
    background-color: white;
    border: none;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    padding: 5px;
  }

  .profile_logout_button:hover{
    background-color: 	#DCDCDC;
    cursor: pointer;
  }

  .navbar-loggedin-container{
    padding: 5px;

  }

  .loggedIn_menu{
    width: 100%;
    display: flex;
    margin-right: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    cursor: pointer;
  }

  .loggedIn_menu:hover{
    background-color: whitesmoke;
  }

  .profile-icon{
    margin-right: 5px;
  }

  .down-arrow{
    margin-left: 5px;
  }

  .browse-events{
    background-color: white;
    border: none;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    padding: 5px;
  }

  .browse-events:hover{
    background-color: 	#DCDCDC;
    cursor: pointer;
  }

  .my_likes_button{
    background-color: white;
    border: none;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
  }

  .my_likes_button:hover{
    background-color: 	#DCDCDC;
    cursor: pointer;
  }


  .navbar-search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* margin-right: 20px; */
    margin-top: 10px;
    margin-left: 130px;

  }

  .navbar-search-box{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
    font-size: 14px;
    /* margin-right: 10px; */
  }

  .navbar-search-button{
    height: 30px;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: white;
  }
